@import '~antd/es/style/themes/default.less';
@import './index.less';

html,
body,
#root {
  height: 100%;
  font-family:Microsoft YaHei;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}
a {
  color: #F14633;
}
.ant-btn-primary {
  background: #F14633;
  border-color:#F14633;
}
.ant-pagination-item-active {
  border-color:#F14633;
}
.ant-pagination-item-active a {
  color:#F14633;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

.ant-pro-sider-logo {
  background: #F14633 !important;
}
.ant-pro-page-container {
  margin: 0px -24px !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: rgba(241,70,51,0.5) !important;
}


